@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ropa+Sans&display=swap');

.footer__container{
    max-width: 1120px;
    margin: 0 auto;
    padding:0 20px;
    margin-bottom: 4.5rem;
}

.footer__frame {
    margin-top: 4.5rem;
    background-color: #F4EEFD;
    padding: 3.5rem;
}

.footer__title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__description{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.1rem;
    color: #A8A8A8;
}

.footer__input{
    margin-top: 2rem;
    padding: 1rem 1rem;
    min-width: 50rem;
    border: none;
    outline: none;
}

.footer__input::placeholder{
    color: #A8A8A8;
}

.footer__input_button{
    border: none;
    background-color: #313037;
    color: #fff;
    padding: 0.75rem 2rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.9px;
    cursor: pointer;
    transition: 0.2s;
}  

.footer__input_button:disabled{
  background-color: #636269;
}

.footer__input_button:hover{
  background-color: #5B5A62;
}

.footer__line{
    border: 1px solid #E7E7E7;
    margin-top: 4.5rem;
}

.footer__text{
    color: #A8A8A8;
    margin-top: 2.1rem;
    font-family: 'Ropa Sans', sans-serif;
    float: left;
}

.footer__text_second{
    display: flex;
    justify-content: end;
    color: #A8A8A8;
    margin-top: 2.1rem;
    font-family: 'Ropa Sans', sans-serif;
}